{% extends '_base.html' %}
{#{% import "bootstrap/wtf.html" as wtf %}#}

{% block content %}

  <header class="content-header">
    <h1>Please Register</h1>
  </header>

  <br>


  <form class="form" role="form" method="post" action="">

    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
{#    {{ wtf.form_errors(form, hiddens="only") }}#}


    <div class="col-lg-4 col-sm-4">

{#      {{ wtf.form_field(form.email) }}#}
{#      {{ wtf.form_field(form.password) }}#}
{#      {{ wtf.form_field(form.confirm) }}#}

      <button class="btn btn-success" type="submit">Register!</button>
      <br><br>
      <p>Already have an account? <a href="{{ url_for('user.login') }}">Sign in</a>.</p>

    </div>

  </form>


{% endblock content %}
